<section class="chat_session hidden">
    <h1>Nobody Know's..., nobody...knows </span></h1>
    <ul></ul>
    <form id="chat">
        <input type="text" autocomplete="off">
        <button>Send</span></button>
    </form>
</section>