<section class="chat_session">
    <p class="text__big">Draw your key to succes</p>
    <ul></ul>
    <form id="chat">
        <input type="text" autocomplete="off">
        <button class="btn" data-host="{{ user_name }}">Send</button>
    </form>
</section>