<section class="chat_session">
    <p class="text__big" data-participants>0 friends online</p>
    <ul></ul>
    <form id="chat">
        <input type="text" autocomplete="off">
        <button class="btn" data-host="{{ user_name }}" data-room-number="{{room_number}}" data-team="{{team}}" >Send</button>
    </form>
</section>