<header id="game">
	{{!-- <h1 class="titile title__small">ROOM: {{room_number}}</h1> --}}
	<h1 class="text text__titile">ROOM: {{room_number}}</h1>

	<div>
		<p class="title title__small">TEAM RED <span data-blue-points>0</span></p>
		<p class="title title__small">TEAM BLUE <span data-red-points>0</span></p>
	</div>

	<nav>
		<ul>
			<li><button class="text text__bold" data-host="{{ user_name }}" data-room="{{room_number}}" data-leave>Stop Game</button></li>
			<li>
				<button class="text text__bold" data-setting-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>
</header>