<header>
	<h1>Room Number: {{room_number}}</h1>
	<nav>
		<ul>
			<li><button data-host="{{ user_name }}" data-leave>Stop Game</button></li>
			<li>
				<button data-setting-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>
</header>