<header>
    <h1>Room Number: {{ room_number }}</h1>
    <nav>
        <ul>
            <li><a href="/">Stop Game</a></li>
            <li><button>Settings</button></li>
        </ul>
    </nav>
</header>