<header>
	<h1>Draw blank</h1>
	<nav>
		<ul>
			<li><a href='/'>Something</a></li>
			<li>
				<button data-setting-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>
</header>