<header>
	<nav>
		<ul>
			<li>
				<button data-join>
					Join Room
				</button>
			</li>
			<li>
				<button data-setting-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>
</header>