<header>
	<nav class='desktop'>
		<ul>
			<li>
				<button class="btn" data-join>
					Join Room
				</button>
			</li>
			<li>
				<button class="btn" data-settings-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>

	<nav class='mobile'>

		<aside class='menu-toggle-container'>
			<button id='menu-toggle'>
				<span></span>
				<span></span>
			</button>
		</aside>

		<ul>
			<li>
				<button class="btn" data-join>
					Join Room
				</button>
			</li>
			<li>
				<button class="btn" data-setting-btn>
					<i class='fa fa-gear'></i>
					<span>Settings</span>
				</button>
			</li>
		</ul>
	</nav>

</header>