<dialog class='settings' data-setting>
    <h3 class=" title title__big">SETTINGS</h3>

    <button data-setting-close>
        <span></span>
        <span></span>
    </button>

	<div class="text text__big">
		<label for='darkmode'>Darkmode</label>
		<input type='checkbox' name='darkmode' id='darkmode' />
	</div>

	<div class="text text__big">
		<label for='sound'>Music</label>
		<input type='checkbox' name='sound' id='sound' />
	</div>

</dialog>