<!DOCTYPE html>
<html lang="en">

{{> head }}


<body id="main">
    {{> welcome }}
    {{> mainHeader }}
    <main>
        {{{body}}}
    </main>

    {{!-- <footer>
        <p>© 2023 - Real Time Web</p>
    </footer> --}}
    
 
    <script src="/js/script.js" type="module"></script>
</body>

</html>