<!DOCTYPE html>
<html lang="en">

{{> head }}


<body id="main">

    {{> mainHeader }}
    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© 2023 - Real Time Web</p>
    </footer>
    
 

</body>

</html>