<!DOCTYPE html>
<html lang="en">

{{> head }}


<body id="main">

    {{#if game}}
        {{> gameHeader }}

    {{else}}
        {{> welcome }}
        {{> mainHeader }}
    {{/if}}

    <main>
        {{{body}}}
    </main>

    {{!-- <footer>
        <p>© 2023 - Real Time Web</p>
    </footer> --}}
  
 
    <script src="/js/chat.js" type="module"></script>
    {{#if game}}
        <script src="/js/draw.js" type="module"></script>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>

</html>