header {
	display: flex;
	justify-content: end;
	padding: 1em 2em;

	.scores,
	> button ,
	.placeholder{
		position: absolute;
		left: 50%;
		top: 5%;
		transform: translate(-50%, 10px);
	}

	> button {
		width: 17em;
		padding: 2em;
		border: none;

		background: url('../img/frame.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: translateX(-50%) scale(1.2);
		}
	}

	&#game {
		width: 100%;
		justify-content: space-between;
		padding-bottom: 0;
	}

	nav {
		&.mobile {
			display: none;

			@include respond-to(up-to-md) {
				display: block;
			}

			ul {
				position: relative;
				display: none;
				flex-direction: column;
				list-style: none;
				padding: 0 3em 0;
				margin-top: 4em;

				// @include respond-to(from-md) {
				// 	display: flex;
				// }

				li {
					display: block;
					padding: 1em;
					cursor: pointer;
				}
			}

			.menu-toggle-container {
				display: none;
				height: 3em;
				width: 3em;
				cursor: pointer;
				transform: rotate(0deg);
				transition: all 0.3s variable(cubic);
				user-select: none;

				@include respond-to(up-to-md) {
					display: inline-block;
				}

				#menu-toggle {
					position: relative;
					top: 50%;
					display: block;
					width: 2em;
					aspect-ratio: 1/1;
					cursor: pointer;
					background: none;
					border: none;
					margin: 0 auto;

					span {
						display: block;
						width: 100%;
						height: 2px;
						background: color(secondary);
						transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
						transition-delay: 0s;

						&:first-of-type {
							transform: translateY(0px) rotate(0deg);
						}

						&:last-of-type {
							transform: translateY(6px) rotate(0deg);
						}
					}
				}
			}
		}

		&.desktop {
			@include respond-to(up-to-md) {
				display: none;
			}

			ul {
				display: flex;
				align-items: center;
				gap: 1em;
			}

			li {
				display: block;
				padding: 1em;
				cursor: pointer;

				&:hover {
					i {
						animation: spin 2s infinite linear;
					}
				}

				button {
					display: flex;
					align-items: center;
					color: color(secondary) !important;

					i {
						font-size: 1.5em !important;
						margin-right: 0.5em;
					}

					span {
						margin-top: 0.4em;
					}
				}
			}
		}
	}
}
