body {
	display: grid;
	height: 100vh;
	// background: linear-gradient(-45deg, #31eeff, #001ef1, #ff8e01, #08fdd8);
	background-size: 400% 400%;
	// animation: gradient 15s ease infinite;
	height: 100vh;
	background-image: url('/img/frame.png');
	background-size: cover;
		background-blend-mode: soft-light;
	background-color: #c7c7c7;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
