.hidden {
	display: none !important;
}

.btn {
	width: fit-content;
	color: color(button);
	padding: 0.8em 1.2em;
	margin: 8px 0;
	border: none;

	background: url('../img/frame.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		transform: scale(1.5);
		filter: hue-rotate(45deg);
	}

	&__cancel {
		color: color(error);

		&:hover {
			filter: hue-rotate(300deg);
		}
	}

	&:active {
		filter: hue-rotate(90deg);
	}

	&:active {
		opacity: 60%;
	}

	&:disabled {
		opacity: 40%;
		background-color: #444;
	}

	&:focus {
		filter: hue-rotate(90deg);
	}
}

main {
	display: flex;
	align-items: start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 2em;
	overflow-x: hidden;

	padding: 0 5em;

	> .intro,
	article {
		flex-basis: 30em;
	}

	.intro {
		flex-grow: 2;
		width: 100%;
		border-radius: 0.5em;
		height: auto;
		text-align: center;
		// height: 80vh;

		img {
			filter: invert(1);
		}
	}
}

article {
	flex-grow: 1;
	padding: 2em;

	p {
		border-radius: 0.5em;
		padding: 2em;
		margin-bottom: 1em;
		border: 0.2em solid color(secondary);
		transform: skewX(10deg);
		font-weight: 600;
		letter-spacing: 2px;
	}
}

@keyframes pulse-timer {
	0% {
		transform: scale(0.85);
		color: color(secondary);
	}

	50% {
		transform: scale(1.4);
		color: color(error);
	}
}

.countdown {
	animation-name: pulse-timer;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.drawspace {
	width: 100vw;

	.meta {
		display: flex;
		justify-content: space-between;
		border-radius: 0.5em;
		padding: 0.2em 1em;
		padding-top: 0;
		letter-spacing: 2px;
		// background-color: color(quaternary);
		// border: 2px solid color(secondary);

		p {
			font-weight: 700;

			.draw_word {
				color: indigo;
			}
		}
	}

	.brush {
		position: absolute;
		top: 2%;
		left: 12%;

		button {
			border-radius: 50%;
			background: none;
			border: 2px solid color(secondary);
			height: 2em;
			aspect-ratio: 1;
			cursor: pointer;
			transition: 1s;

			&:hover {
				transform: scale(1.2);
			}
		}

		.slider {
			display: flex;
			align-items: center;
			margin-top: 1em;
			transition: 1s;

			label {
				width: 50%;
			}

			input {
				-webkit-appearance: none;
				width: 100%;
				height: 0.6em;
				background: #d3d3d3;
				outline: none;
				opacity: 0.7;
				border-radius: 0.5em;
				-webkit-transition: 0.2s;
				transition: opacity 0.2s;

				&:hover {
					opacity: 1;
				}

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 1em;
					height: 0.8em;
					border-radius: 0.5em;
					background: color(secondary);
					cursor: pointer;
				}

				&::-moz-range-thumb {
					width: 25px;
					height: 25px;
					background: #04aa6d;
					cursor: pointer;
				}
			}
		}
	}

	> div:last-of-type {
		position: relative;
		display: flex;
		height: 90%;
		max-height: 70vh;

		aside {
			flex-basis: 10vw;
			min-width: 8vw;
			flex-grow: 1;
			height: inherit;
			max-height: 70vh;
			overflow-y: scroll;
			border-radius: 0.4em 0 0 0.4em;
			border: 2px solid color(secondary);
			border-right: none;
			background-color: rgba(211, 211, 211, 0.589);

			ul {
				display: flex;
				justify-content: center;
				gap: 1em;
				flex-wrap: wrap;
				padding: 0.5em;

				$qty: 24;
				$step: 360deg / $qty;

				li {
					flex-basis: 1em;
					display: inline-block;

					button {
						height: 4vmin;
						aspect-ratio: 1;
						border: none;
						border-radius: 0.2em;
						cursor: pointer;
					}

					@for $i from 1 through variable(marker_color) {
						&:nth-of-type(#{$i}) {
							button {
								background-color: adjust-hue(#ff0000, $step * $i);

								&:hover {
									box-shadow: inset 0 0 0.5em color(quaternary),
										0 0 1em adjust-hue(#ff0000, $step * $i);
								}

								&.active {
									box-shadow: inset 0 0 0.5em color(quaternary),
										0 0 1em adjust-hue(#ff0000, $step * $i);
								}
							}
						}
					}

					&:nth-of-type(19) {
						button {
							background-color: #000;

							&:hover {
								box-shadow: inset 0 0 0.5em color(quaternary),
									0 0 1em color(secondary);
							}
						}
					}

					&:nth-of-type(20) {
						button {
							background-color: #fff;

							&:hover {
								box-shadow: inset 0 0 0.5em #ccc,
									0 0 1em color(quaternary);
							}
						}
					}
				}
			}
		}

		.whiteboard {
			flex-grow: 3;
			height: initial;
			width: 100%;
			border-radius: 0 0.4em 0.4em 0;
			background-color: color(quaternary);
			border: 2px solid color(secondary);
			border-left: none;
		}
	}
}
