.hidden {
	display: none;
}

.btn {
	width: fit-content;
	background-color: color(button);
	color: color(quaternary);
	padding: 0.8em 1.2em;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	transition: 0.3s;

	&__cancel {
		background-color: color(quaternary);
		border: 2px solid color(button);
		color: color(button);

		&:hover {
			color: color(quaternary);
		}
	}

	&:hover {
		border-radius: 0.4em;
		background-color: color(hover);
	}

	&:active {
		background-color: color(active);
	}

	&:hover {
		background-color: dodgerblue;
	}

	&:active {
		opacity: 60%;
	}

	&:disabled {
		opacity: 40%;
		background-color: #444;
	}

	&:focus {
		color: color(quaternary);
		background-color: color(focus);
	}
}

main {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;

	padding: 0 5em;

	> section:first-of-type,
	article {
		flex-basis: 30em;
	}

	> section:first-of-type {
		flex-grow: 2;
		width: 100%;
		background-color: antiquewhite;
		border-radius: 0.5em;
		height: auto;
		// height: 80vh;
	}
}

article {
	flex-grow: 1;
	padding: 2em;

	p {
		border-radius: 0.5em;
		padding: 2em;
		margin-bottom: 1em;
		background-color: antiquewhite;
	}
}

.drawspace {
	padding: 1.5em 2em;

	.meta {
		display: flex;
		justify-content: space-between;
		border-radius: 0.5em;
		padding: 0.5em 1em;
		margin-bottom: 1em;
		background-color: color(quaternary);

		p {
			font-weight: 700;

			.draw_word {
				color: indigo;
			}
		}
	}

	> div:not(.slider) {
		display: flex;
		height: 90%;
		max-height: 70vh;

		aside {
			flex-basis: 10vw;
			min-width: 8vw;
			flex-grow: 1;
			height: 100%;
			max-height: 70vh;
			overflow-y: scroll;
			border-radius: 0.4em 0 0 0.4em;
			background-color: lightgray;

			ul {
				display: flex;
				justify-content: center;
				gap: 1em;
				flex-wrap: wrap;
				flex-grow: 1;

				padding: 0.5em;

				$qty: 24;
				$step: 360deg / $qty;

				li {
					flex-basis: 1em;
					display: inline-block;

					button {
						height: 4vmin;
						aspect-ratio: 1;
						border: none;
						border-radius: 0.2em;
						cursor: pointer;
					}

					@for $i from 1 through variable(marker_color) {
						&:nth-of-type(#{$i}) {
							button {
								background-color: adjust-hue(#ff0000, $step * $i);

								&:hover {
									box-shadow: inset 0 0 0.5em color(quaternary),
										0 0 1em adjust-hue(#ff0000, $step * $i);
								}

								&.active {
									box-shadow: inset 0 0 0.5em color(quaternary),
										0 0 1em adjust-hue(#ff0000, $step * $i);
								}
							}
						}
					}

					&:nth-of-type(19) {
						button {
							background-color: #000;

							&:hover {
								box-shadow: inset 0 0 0.5em color(quaternary),
									0 0 1em color(secondary);
							}
						}
					}

					&:nth-of-type(20) {
						button {
							background-color: #fff;

							&:hover {
								box-shadow: inset 0 0 0.5em #ccc,
									0 0 1em color(quaternary);
							}
						}
					}
				}
			}
		}

		.whiteboard {
			// height: 100%;
			// 	width: 100%;
			// 	position: absolute;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	top: 0;
			// 	background-color: red;
			flex-grow: 3;
			height: initial;
			width: 100%;
			border-radius: 0 0.4em 0.4em 0;
			background-color: color(quaternary);
		}

		// div {
		// 	flex-grow: 3;
		// 	height: 100%;
		// 	width: 100%;
		// 	background-color: #fff;
		// }
	}

	.slider {
		display: flex;
		align-items: center;
		margin-top: 1em;

		label {
			flex-basis: 10vw;
			flex-grow: 1;
		}

		input {
			-webkit-appearance: none;
			width: 100%;
			height: 1.5em;
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			border-radius: 0.5em;
			-webkit-transition: 0.2s;
			transition: opacity 0.2s;

			&:hover {
				opacity: 1;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 2em;
				height: 1.5em;
				border-radius: 0.5em;
				background: skyblue;
				cursor: pointer;
			}

			&::-moz-range-thumb {
				width: 25px;
				height: 25px;
				background: #04aa6d;
				cursor: pointer;
			}
		}
	}
}
