
@import 'helpers/colors';
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/function';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'reset';
@import 'structure';
@import 'nav';
@import 'text';
@import 'dialog';
@import 'popup';
@import 'chat';
@import 'form';