

<section class="drawspace">
    <p>Your drawing: <span class="draw_word" data-draw_word>{{subject}}</span></p>
    <div>
        <aside>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </aside>
        <div></div>
    </div>

</section>

{{> chat host='{{user_name}}' }}