
{{> settings }}
<section class="drawspace">
    <div class="meta">
        <p>Drawing: <span class="draw_word" data-draw-word></span></p>
        <span data-timer>30</span>
    </div>
    <div>
        <aside>
            <ul>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
            </ul>
        </aside>
        <canvas class="whiteboard"></canvas>
        {{!-- <div></div> --}}
    </div>

<div class="slider">
    <label for="brush_size">Brush size: <span data-brush-value>2</span></label>
    <input type="range" min="1" max="10" value="2" id="brush_size" data-brush-slider>
</div>

</section>

{{> chat host='{{user_name}}' }}