
{{> settings }}
<section class="drawspace">
    <p>Your drawing: <span class="draw_word" data-draw_word>{{subject}}</span></p>
    <div>
        <aside>
            <ul>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
                <li><button data-brush-color></button></li>
            </ul>
        </aside>
        <div></div>
    </div>

<div class="slider">
    <label for="brush_size">Brush size: <span data-brush-value>10</span></label>
    <input type="range" min="1" max="50" value="10" id="brush_size" data-brush-slider>
</div>

</section>

{{> chat host='{{user_name}}' }}