{{> settings }}
<section class="intro">
    <h1 class="title title__big">SCRIBBLE TITTLE TATTLE</h1>
    <img src="/img/hero.gif" alt="Chat group">
</section>

{{> popup/join}}
<article>
    <p class="text text__medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate ligula eget tristique lacinia. Sed ullamcorper sed
        ante eu laoreet. Phasellus a efficitur odio. Maecenas fermentum, dui elementum consequat venenatis, ligula risus
        faucibus mi, non ornare massa lacus id felis. Praesent vitae ultricies enim.
    </p>

    <form id="host_form" action="/game/{{roomNumber}}" method="POST">
        <h2 class="text text__titile">Choose your team...</h2>
        <fieldset>
            <label>
                Red
                <input type="radio" name="team" value="red" required>
            </label>

            <label for="blue">
                Blue
                <input type="radio" name="team" id="blue" value="blue" required>
            </label>
        </fieldset>

        <input type="text" id="user_name" name="user_name" placeholder="Please enter your name" required autocomplete="off">
        <button type="submit" class="btn" data-room="{{roomNumber}}">Join</button>
    </form>
    
</article> 