{{> settings }}
<section class="intro">

</section>

<article>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate ligula eget tristique lacinia. Sed ullamcorper sed
        ante eu laoreet. Phasellus a efficitur odio. Maecenas fermentum, dui elementum consequat venenatis, ligula risus
        faucibus mi, non ornare massa lacus id felis. Praesent vitae ultricies enim.
    </p>

    <form id="host_form" action="/game/{{roomNumber}}" method="POST">
    <label for="red">Red</label>
    <input type="radio" name="team" id="red">
    <label for="blue">Blue</label>
    <input type="radio" name="team" id="blue">


        <label for="user_name">Name</label>
        <input type="text" id="user_name" name="user_name" placeholder="Please enter your name" required autocomplete="off">
        <button type="submit" data-room="{{roomNumber}}">Join</button>
    </form>
    
</article> 