{{> settings }}
<section class="intro">
    <h1 class="title title__big">SCRIBBLE TITTLE TATTLE</h1>
    <img src="/img/hero.gif" alt="Chat group">
</section>

{{> popup/join}}
<article>
    <p class="text text__medium">
        Welcome to Scribble tittle tattle. This is a game based on the well-known game pictionary. Here you can play and chat
        online with your friends. Are you the best at drawing? Or guess?
        As a host, you create a room and then you will see the room number on the top left. You give it to the players and then
        your friends can join the room.
    </p>

    <form id="host_form">
        <h2 class="text text__titile">Choose your team...</h2>
        <fieldset>
            <label>
                Red
                <input type="radio" name="team" value="red" required>
            </label>

            <label for="blue">
                Blue
                <input type="radio" name="team" id="blue" value="blue" required>
            </label>
        </fieldset> 
        <input type="hidden" name="number" value="{{roomNumber}}">
        <input type="hidden" name="type" value="host">

        <input type="text" id="user_name" name="username" placeholder="Please enter your name" required autocomplete="off">
        <button type="submit" class="btn" data-room="{{roomNumber}}">Join</button>
    </form>
    
</article> 