<div class='pop-up' data-popup-correct>
    <p class='text text__big'>The word is guessed by <span></span></p>
    <p>Team <span></span> get's 1 point</p>
    <p>The next round wil start shortley...</p>
    </form>
</div>