<div class='pop-up' data-popup-join>
	<p class='text text__big'>Join a gaming room</p>
	<form action='/game/guest' id='join_form'>

		<input
			type='number'
			name='number'
			placeholder='Enter the room number'
			required
		/>
		<input type='hidden' name='type' value='guest' />
		<input type='text' name='username' placeholder='Enter your name' required />
        <p class="nonvalid hidden" data-notvalid>The room does not exist, please create your own room or try again.</p>

		<fieldset>

			<button type='submit' class='btn'>Join</button>
			<button class='btn btn__cancel' data-join-cancel>Cancel</button>
		</fieldset>
	</form>
</div>