<div class='pop-up' data-popup-timeUp>
    <h2 class='text text__big'>Dan Dan Daaa...</h2>

    <p>De Artist was taking to long.. Step up your game!</p>
    <p>The new artist wil be...</p>
    </form>
</div>